* {
    margin: 0;
    padding: 0;
}
header, main {
    background-color: #0D0902;
}

/* Header */

.logoblock {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.container-menu {
    width: 100%;
    border-bottom: 1px solid #FFAC4A;
}
.spimen {
    list-style-type: none;
    padding-left: 5%;
    padding-top: 2%;
}
.lipunkt {
    font-family: 'Montserrat', sans-serif;
}
.ssulka-menu {
    text-decoration: none;
    color: #FFAC4A;
    border-bottom: 1px solid #FFAC4A;
    padding-bottom: 0.2em;
    font-size: 24px;
}
.ssulka-menu:hover {
    text-decoration: none;
    color: #FFFAF2;
    border-bottom: 1px solid #FFAC4A;
    padding-bottom: 0.2em;
}

/* Burger */

.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #0D0902;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 50px;
    padding: 1em;
}
  
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}
  
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
#menu-toggle {
    display: none;
}
  
.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}
  
.menu-button::before {
    content: '';
    margin-top: -8px;
}
  
.menu-button::after {
    content: '';
    margin-top: 8px;
}
  
#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}
  
#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}
  
#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}
  
@media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 80px;
      left: 0;
      flex-direction: column;
      width: 99%;
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: white;
      background-color: #0D0902;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
}

/* Burger off */

/* Header off */

.btn-po {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}


.icons {
    outline: none;
    background: transparent;
}

h1 {
    color: #FFFAF2;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5%;
    padding-top: 2%;
    font-size: 220%;
}

h2 {
    color:#FFFAF2;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 40px;
    margin: 7%;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 1%;
    margin-bottom: 5%;
    border-bottom: 1px solid #FFFAF2;
    width: 25%;
}
.container-irt {
    position: relative;
    text-align: center;
    vertical-align: center;
}
.container-rt {
    position: relative;
    margin-left: 7%;
    width: 82.4%;
    top: -3.5px;
    background-color: #FFAC4A;
    height: 20%;
    color:#0D0902;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 24px;
    text-align: left;
    padding: 2%;
    margin-bottom: 5%;
}
/*Появление элемента*/
.element-animation {
    /* Скроем элемент в начальном состоянии */
    opacity: 0;
    transform: translateY(20px);
}
.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.necotorui-flex {
    display: flex;
    height: 10em;
}

.container-knp {
    width: 50%;
}
.date {
    width: 50%;
}
.datextcnyj {
    margin-left: 14%;
    width: 50%;
}

.knopa {
    background-color: #FFFAF2;
    border-radius: 15px;
    border: 0px solid;
    width: 300px;
    height: 92px;
    z-index: 99999;
    margin-left: 30%;
}
.knopa:hover {
    background-color: #FFAC4A;
}
.knopa:hover a {
    color:#FFFAF2;
}

.lines {
    position: absolute;
    margin-left: -3%;
    padding-top: 65px;
}

.knopa-ssul {
    text-decoration: none;
    color: #0D0902;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 28px;
}

h3 {
    text-align: center;
    color: #FFFAF2;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 28px;
    margin-bottom: 5%;
    margin-top: 3%;
}
.container-video {
    width: 100%;
    height: 35em;
    background-color: #0D0902;
}
.vidivo {
    width: 86.4%;
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cta {
    margin-left: 7%;
    margin-top: 5%;
    color:#FFFAF2;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 28px;
    padding-bottom: 5%;
}

.hrefa {
    color:#FFAC4A;
    text-decoration: none;
}
/* Подвал*/
footer {
    background-color: #FFAC4A;
    padding: 20px 0;
    text-align: center;
}
/* Стили для лого */
.logof {
    width: 22%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    margin: 0 auto;
}
/* Стили для меню */
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul li a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color:#0D0902;
}
/* Стили для адреса */
.address {
    margin-top: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 20px;
    color:#0D0902;
}
/* Стили для ссылок на социальные сети */
.social-links {
    margin-top: 20px;
}
.social-links a {
    color: #fff;
    margin-right: 10px;
    text-decoration: none;
}
/* Стили для карты */
.map {
    margin-top: 20px;
}
.pf {
    text-align: center;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 14px;
    color:#0D0902;
    padding-top: 2%;
}
/* Адаптивные стили */
@media only screen and (max-width: 768px) {
    /* Стили для меню */
    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    .logof {
        text-align: center;
    }
}


.btn-top {
    /* фиксированное позиционирование */
    position: fixed;
    /* цвет фона */
    background-color: #FFFAF2;
    /* расстояние от правого края окна браузера */
    right: 12.5px;
    /* расстояние от нижнего края окна браузера */
    bottom: 0;
    /* скругление верхнего левого угла */
    border-top-left-radius: 8px;
    /* скругление верхнего правого угла */
    border-top-right-radius: 8px;
    /* вид курсора */
    cursor: pointer;
    /* отображение элемента как flex */
    display: flex;
    /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
    align-items: center;
    /* выравниваем элементы внутри элемента по центру вдоль главной оси */
    justify-content: center;
    /* ширина элемента */
    width: 60px;
    /* высота элемента */
    height: 50px;
}
  
.btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='none' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 17V4M3 10l7-7 7 7'/%3E%3C/g%3E%3C/svg%3E");
}
  
.btn-up_hide {
    display: none;
}
